<template>
  <div class="max-w-md w-full lg:flex shadow-2xl">
    <div
      class="h-48 lg:h-auto lg:w-48 flex-none bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden playdoh-image"
      title="Playdoh"
    ></div>
    <div
      class="bg-gray-100 rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
    >
      <div class="mb-8">
        <div class="text-gray-900 font-bold text-xl mb-2">{{title}}</div>
        <p class="text-gray-700 text-base">
          <slot></slot>
        </p>
      </div>
      <div class="flex items-center">
        <img
          class="w-10 h-10 rounded-full mr-4"
          src="/img/jonathan.jpg"
          alt="Avatar of Jonathan Reinink"
        />
        <div class="text-sm">
          <slot name="button">
            <a
              :href="url"
              class="bg-blue-400 hoger:bg-blue-700 text-white font-bold py-2 px-4 rounded"
            >Go</a>
          </slot>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      default: 'Card Title'
    },
    url: {
      type: String,
      default: '/'
    }
  }
}
</script>

<style lang="scss" scoped>
.playdoh-image {
  background-image: url('~assets/playdoh.jpg');
}
</style>