<template>
  <div class>
    <nav class="flex items-center bg-white justify-between flex-wrap p-6">
      <div class="flex items-center flex-shrink-0 mr-6 z-50">
        <span class="font-semibold text-3xl ml-8 tracking-tight text-white">MTES Kindergarten</span>
      </div>
      <div class="block lg:hidden">
        <button class="flex items-center px-3 py-2 border rounded text-gray-800">
          <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <title>Menu</title>
            <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
          </svg>
        </button>
      </div>
      <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto mr-4">
        <div class="text-md lg:flex-grow flex justify-end">
          <p
            href="#responsive-header"
            class="block mt-4 lg:inline-block lg:mt-0 text-gray-800 transition-all ease-in duration-75 hover:text-pink-600 hover:underline mr-4"
          >
            <nuxt-link to="/">Home</nuxt-link>
          </p>
          <p
            href="#responsive-header"
            class="block mt-4 lg:inline-block lg:mt-0 text-gray-800 transition-all ease-in duration-75 hover:text-pink-600 hover:underline mr-4"
          >
            <nuxt-link to="/Week1">Week 1</nuxt-link>
          </p>
          <p
            href="#responsive-header"
            class="block mt-4 lg:inline-block lg:mt-0 text-gray-800 transition-all ease-in duration-75 hover:text-pink-600 hover:underline"
          >
            <nuxt-link to="/Week2">Week 2</nuxt-link>
          </p>
        </div>
      </div>
    </nav>
    <div>
      <nuxt />
    </div>
  </div>
</template>

<style>
.default-background {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23ff0057' fill-opacity='0.06'%3E%3Cpath d='M50 50c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10s-10-4.477-10-10 4.477-10 10-10zM10 10c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10S0 25.523 0 20s4.477-10 10-10zm10 8c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm40 40c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
</style>
