<template>
  <div class="flex flex-col">
    <div class="flex container mx-auto relative items-center">
      <div class="absolute" style="right: 200px">
        <img style="max-width: none; width: 2210px" src="~/assets/svg/drawing.svg" />
      </div>
      <div class="absolute" style="right: 0px; top: 50px">
        <img style="max-width: none; width: 700px" src="~/assets/svg/undraw_children_4rtb_pink.svg" />
      </div>
      <div
        class="relative ml-16 max-w-none max-h-none flex flex-col items-start justify-center"
        style="height: 500px; width: 900px;"
      >
        <span
          class="font-sans font-semibold text-4xl"
        >Welcome to our digital school for online learning!</span>
        <span
          class="font-sans mb-8 font-semibold text-2xl"
        >We are excited to continue exploring with you!</span>
        <span class="font-sans text-lg text-gray-700">Mountain Trails Kindergarten Team:</span>

        <div class="text-gray-700 flex flex-col">
          Mrs. Ercanbrack, Ms. Taylor, Mrs. Timoteo and Mrs. Whitehead
          <a
            @mouseenter="hovering = true"
            @mouseleave="hovering = false"
            class="bg-indigo-900 transition-all ease-out duration-150 transform hover:bg-indigo-800 w-48 flex mt-4 justify-around text-white transition-all duration-100 ease-in text-white font-bold py-2 px-4 rounded"
          >
            Get Learning!
            <svg
              class="fill-current text-white transform transition-all ease-out duration-500"
              :class="{'translate-x-4': hovering}"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              width="24"
              height="24"
            >
              <path
                class="heroicon-ui"
                d="M18.59 13H3a1 1 0 0 1 0-2h15.59l-5.3-5.3a1 1 0 1 1 1.42-1.4l7 7a1 1 0 0 1 0 1.4l-7 7a1 1 0 0 1-1.42-1.4l5.3-5.3z"
              />
            </svg>
          </a>
        </div>
      </div>
    </div>
    <!-- <div class="container mx-auto flex flex-row justify-between mt-16">
      <card title="Week 1" url="/week1">
        Click Below to go to Week 1: March 18-20
        <template v-slot:button>
          <nuxt-link to="/week1">
            <a
              class="bg-indigo-900 transition-all duration-100 ease-in hover:bg-blue-600 text-white font-bold py-2 px-4 rounded"
            >Week 1</a>
          </nuxt-link>
        </template>
      </card>

      <card title="Week 2" url="/week2">
        Click Below to go to Week 2: March 23-27
        <template v-slot:button>
          <nuxt-link to="/week2">
            <a
              class="bg-indigo-900 transition-all duration-100 ease-in hover:bg-blue-600 text-white font-bold py-2 px-4 rounded"
            >Week 2</a>
          </nuxt-link>
        </template>
      </card>
    </div>-->
  </div>
</template>

<script>
import Logo from '~/components/Logo.vue'
import card from '~/components/Card.vue'

export default {
  components: {
    Logo,
    card
  },
  data() {
    return {
      hovering: false
    }
  }
}
</script>

<style>
/* Sample `apply` at-rules with Tailwind CSS
.container {
  @apply min-h-screen flex justify-center items-center text-center mx-auto;
}
*/
</style>
